asgiref==3.3.1
Authlib==0.15.2
cachelib==0.1.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
Click==7.0
config==0.5.0.post0
cryptography==3.2.1
Django==3.1.3
ecdsa==0.14.1
envoy-webhook-auth-decorator==0.1.1
Flask==1.1.2
Flask-Dance==3.1.0
flask-ngrok==0.0.25
Flask-Session==0.3.2
Flask-SocketIO==4.3.1
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jwt==1.1.0
MarkupSafe==1.1.1
numpy==1.19.4
oauthlib==3.1.0
opencv-python-headless==4.2.0.32
pyasn1==0.4.8
pycparser==2.20
python-dotenv==0.15.0
python-engineio==3.13.2
python-jose==3.2.0
python-socketio==4.6.0
pytz==2020.4
redis==3.5.3
requests==2.25.0
requests-oauthlib==1.3.0
rq==1.6.1
rsa==4.6
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
URLObject==2.4.3
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
